<p a><p b><p c><p d><style>body{background:#F2EAA8;}p{position:absolute;height:90;width:90;background:#EE7667;clip-path: polygon(0 0,100% 0,100% 40px,72% 40px,72% 100%,28% 100%,28% 44%,0 44%);top:24;left:35;}[b],[d]{margin-top:146px;transform:rotate(180deg);background:#84BE8D;}[c]{margin-left:240;}[d]{margin-left:240px
 
  
  