<p><p><div><style>body{background:#FADE8B;}p{margin:60 212 -240 -8;height:120;color:#222;border:solid;border-radius:120px 0 0 0;border-width:60 60 0 60;}p+p{scale:-1 1;translate:220px;}div{position:absolute;height:60;width:120;color:#FADE8B;box-shadow:130px 180px#222222,-10px 180px,280px 180px;}

/* best solution */
<style>*{scale:-1;margin:-60 60;border:64q solid#222;border-top:0;background:#FADE8B}&{margin:60 0 120;border-radius:0 0 9in 9in