<p><style>*{background:#2F434E;}p{height:70px;width:110px;background:#CF6939;margin: 85 30 0 7 ;color:#CF6939;box-shadow: 49.8px 30px,101px 30px,100px 60px,210px 30px,160px 0px,260.4px 60px;  

/* top solution: */
<style>*{background:#2F434E;color:CF6939;box-shadow:5vh 90q,65px 122q,122q 153q;width:110;height:70;*{margin:0 160