<p a><p b><div><style>body,[b]{margin:0 auto;background: #45B45B;position:absolute;}div{height:50;width:50;background:#194247;margin:-239.5 0 0 175;border-radius:50%}[a]{height:240;width:50;background:#194247;margin:29.5 0 0 20;box-shadow:310px 0 #194247;}[b]{margin:-59.5 0 0 20;height:10;width:55;color:#45B45B;box-shadow:0 -130px,309px -130px,309px 0px;}
  
  
